Node_Red_Setup
[{"id":"178c217a.5997ef","type":"change","z":"cbf3f8cb.2a6be8","name":"","rules":[{"t":"move","p":"payload.Humidity","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":163,"wires":[["dc8d8ab2.2e9a48","e8df542.b8d00a8"]]},{"id":"dc8d8ab2.2e9a48","type":"ui_gauge","z":"cbf3f8cb.2a6be8","name":"","group":"c7ab814c.5a204","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1177,"y":163,"wires":[]},{"id":"848b4ffd.fee9d","type":"change","z":"cbf3f8cb.2a6be8","name":"","rules":[{"t":"move","p":"payload.AirQuality_Sensor_Value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":240,"wires":[["67c0f85f.037d48"]]},{"id":"67c0f85f.037d48","type":"ui_gauge","z":"cbf3f8cb.2a6be8","name":"","group":"49615578.33294c","order":2,"width":0,"height":0,"gtype":"gage","title":"Air Quality Value","label":"units","format":"{{value}}","min":0,"max":"7000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1200,"y":240,"wires":[]},{"id":"b966a06d.2c9a9","type":"change","z":"cbf3f8cb.2a6be8","name":"","rules":[{"t":"move","p":"payload.Temperature","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":280,"wires":[["3e1977e1.969998","9b02072c.f54508"]]},{"id":"3e1977e1.969998","type":"ui_gauge","z":"cbf3f8cb.2a6be8","name":"","group":"49615578.33294c","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"F","format":"{{value}}","min":0,"max":"135","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1189,"y":280,"wires":[]},{"id":"7b83db25.47dc44","type":"change","z":"cbf3f8cb.2a6be8","name":"","rules":[{"t":"move","p":"payload.UVIndex","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":362,"wires":[["af26e739.b57d88"]]},{"id":"af26e739.b57d88","type":"ui_gauge","z":"cbf3f8cb.2a6be8","name":"","group":"e669f9c3.a22728","order":0,"width":0,"height":0,"gtype":"gage","title":"UV Index","label":"units","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1180,"y":364,"wires":[]},{"id":"e333a852.bc5188","type":"change","z":"cbf3f8cb.2a6be8","name":"","rules":[{"t":"move","p":"payload.Visible","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":402,"wires":[["25d05f94.49f83"]]},{"id":"25d05f94.49f83","type":"ui_gauge","z":"cbf3f8cb.2a6be8","name":"","group":"e669f9c3.a22728","order":0,"width":0,"height":0,"gtype":"gage","title":"Visible Light","label":"lux","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1190,"y":404,"wires":[]},{"id":"8380dc3c.6f3c7","type":"change","z":"cbf3f8cb.2a6be8","name":"","rules":[{"t":"move","p":"payload.AirQuality_Sensor_Text","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":442,"wires":[["a65f4f5e.5d5f4"]]},{"id":"9bf42a68.a1e218","type":"change","z":"cbf3f8cb.2a6be8","name":"","rules":[{"t":"move","p":"payload.IR","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":482,"wires":[["7e5f9d2.03e8d64"]]},{"id":"7e5f9d2.03e8d64","type":"ui_gauge","z":"cbf3f8cb.2a6be8","name":"","group":"e669f9c3.a22728","order":0,"width":0,"height":0,"gtype":"gage","title":"IR","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1170,"y":484,"wires":[]},{"id":"a65f4f5e.5d5f4","type":"ui_text","z":"cbf3f8cb.2a6be8","group":"658856fb.cd83d8","order":1,"width":0,"height":0,"name":"","label":"Air Quality:","format":"{{msg.payload}}","layout":"row-left","x":1190,"y":444,"wires":[]},{"id":"be3038a.b7e9dc8","type":"change","z":"cbf3f8cb.2a6be8","name":"","rules":[{"t":"move","p":"payload.Water_Full_Text","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":619,"y":608,"wires":[["50c52400.d9592c"]]},{"id":"ded69cc9.70263","type":"ui_gauge","z":"cbf3f8cb.2a6be8","name":"","group":"54c2f5dc.21ff0c","order":3,"width":0,"height":0,"gtype":"wave","title":"Water Reservoir","label":"","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1198,"y":608,"wires":[]},{"id":"b3d0dce9.ea9e4","type":"mqtt in","z":"cbf3f8cb.2a6be8","name":"","topic":"test","qos":"2","broker":"91694169.22ea7","x":212,"y":320,"wires":[["6e09698c.e1a968","4d6d16fb.d52bf8"]]},{"id":"6e09698c.e1a968","type":"json","z":"cbf3f8cb.2a6be8","name":"","property":"payload","action":"","pretty":true,"x":352,"y":320,"wires":[["9bf42a68.a1e218","178c217a.5997ef","848b4ffd.fee9d","b966a06d.2c9a9","7b83db25.47dc44","e333a852.bc5188","8380dc3c.6f3c7","be3038a.b7e9dc8","d9ee50b4.afcb9","597197a5.8f0748","d08c3531.2ac728"]]},{"id":"50c52400.d9592c","type":"switch","z":"cbf3f8cb.2a6be8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Empty","vt":"str"},{"t":"eq","v":"Full","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":848,"y":608,"wires":[["3f6128af.0a3248"],["557da276.4c1ccc"]]},{"id":"3f6128af.0a3248","type":"change","z":"cbf3f8cb.2a6be8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1016,"y":602,"wires":[["ded69cc9.70263"]]},{"id":"557da276.4c1ccc","type":"change","z":"cbf3f8cb.2a6be8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"10","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1016,"y":643,"wires":[["ded69cc9.70263"]]},{"id":"4d6d16fb.d52bf8","type":"debug","z":"cbf3f8cb.2a6be8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":160,"wires":[]},{"id":"d9ee50b4.afcb9","type":"change","z":"cbf3f8cb.2a6be8","name":"","rules":[{"t":"move","p":"payload.MoistureHumidity","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":524,"wires":[["392e3648.470fba"]]},{"id":"392e3648.470fba","type":"ui_gauge","z":"cbf3f8cb.2a6be8","name":"","group":"c7ab814c.5a204","order":2,"width":0,"height":0,"gtype":"gage","title":"Soil Moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1190,"y":524,"wires":[]},{"id":"597197a5.8f0748","type":"change","z":"cbf3f8cb.2a6be8","name":"","rules":[{"t":"move","p":"payload.TimeStamp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":566,"wires":[["209d8ee4.e24c12"]]},{"id":"209d8ee4.e24c12","type":"ui_text","z":"cbf3f8cb.2a6be8","group":"658856fb.cd83d8","order":0,"width":0,"height":0,"name":"Time Stamp","label":"Last Retreival:","format":"{{msg.payload}}","layout":"row-left","x":1190,"y":566,"wires":[]},{"id":"9b02072c.f54508","type":"ui_chart","z":"cbf3f8cb.2a6be8","name":"","group":"49615578.33294c","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1189,"y":320,"wires":[[],[]]},{"id":"e8df542.b8d00a8","type":"ui_chart","z":"cbf3f8cb.2a6be8","name":"","group":"c7ab814c.5a204","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1178,"y":200,"wires":[[],[]]},{"id":"d08c3531.2ac728","type":"change","z":"cbf3f8cb.2a6be8","name":"","rules":[{"t":"move","p":"payload.Last_Event","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":680,"wires":[["714ff172.21ccf"]]},{"id":"714ff172.21ccf","type":"ui_text","z":"cbf3f8cb.2a6be8","group":"658856fb.cd83d8","order":0,"width":0,"height":0,"name":"Last Event","label":"Last Event: ","format":"{{msg.payload}}","layout":"row-left","x":1190,"y":680,"wires":[]},{"id":"c7ab814c.5a204","type":"ui_group","z":"","name":"Moisture","tab":"26dc1f7.ecfd3e","order":3,"disp":true,"width":"6","collapse":false},{"id":"49615578.33294c","type":"ui_group","z":"","name":"Air Quality","tab":"26dc1f7.ecfd3e","order":1,"disp":true,"width":"6","collapse":false},{"id":"e669f9c3.a22728","type":"ui_group","z":"","name":"Light","tab":"26dc1f7.ecfd3e","order":2,"disp":true,"width":"6","collapse":false},{"id":"658856fb.cd83d8","type":"ui_group","z":"","name":"Status:","tab":"26dc1f7.ecfd3e","order":5,"disp":true,"width":"6","collapse":false},{"id":"54c2f5dc.21ff0c","type":"ui_group","z":"","name":"Controllers","tab":"26dc1f7.ecfd3e","order":4,"disp":true,"width":"6","collapse":false},{"id":"91694169.22ea7","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"26dc1f7.ecfd3e","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
